
@media (max-width: 600px) {
  .about .container {
    flex-direction: column;
    gap: 20px;
  }

  .text, .aboutimg {
    width: 100%;
  }

  .footer .container {
    flex-direction: column;
    text-align: center;
    gap: 15px;
  }
}


@media (min-width: 900px) {
  .project .container {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}
